:root{
  --emerald-green: #013220;
}

body{
  font-family: verdana;
  font-size: 0.9rem;
  /*text-align: center;*/
  line-height: 1.3;
  margin: 2rem;
  margin-right: 50%;
  background-image: linear-gradient(
      115deg,
      rgba(240, 235, 240, 0.98),
      rgba(245, 252, 251, 0.80)
    ),
    url(https://media.istockphoto.com/photos/quran-open-on-stand-near-mosque-floor-picture-id469201837?k=20&m=469201837&s=612x612&w=0&h=ko-ETd4Ko4KHKg_GhL5AdDZVmF8-Clq_bTuHkGW-nOE=);
  background-size: cover;
}

h1{
  background-color: var(--emerald-green);
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 10px;
  }
input::placeholder{
    overflow:visible;
}
  input{
    margin-bottom: 0.5rem;
  }
}
